<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please select the menu</p>
    <ul>
      <li><a href='manager'>HTIP manager</a><br>
        Visualize the network topology using HTIP protocol.
      </li>
      <li><a href='topology'>Network topology(BETA)</a><br>
        Visualize the real network topology using HTIP protocol.
      </li>
      <br>
      <li><a href='https://github.com/Tan-Lab/node_htip'>GitHub web site</a><br>
        Link to open source software web site.
      </li>
    </ul>
  </body>
</html>
