<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please select the menu</p>
    <ul>
      <li><a href='manager'>HTIP manager</a> <a href='api/nodelist'>[JSON]</a><br>
        Visualize the FDB information using HTIP protocol.
      </li>
      <li><a href='topology_flavor1'>Network topology (Flavor1)</a> <a href='api/topology_flavor1'>[JSON]</a><br>
        Visualize the network topology using HTIP protocol.
      </li>
      <li><a href='topology_flavor2'>Network topology (Flavor2)</a> <a href='api/topology_flavor2'>[JSON]</a><br>
        Visualize the network topology using HTIP protocol. (Simple Algorithm)
      </li>
      <br>
      <li><a href='https://github.com/Tan-Lab/node_htip'>GitHub web site</a><br>
        Link to open source software web site.
      </li>
    </ul>
  </body>
</html>
